%div
  %button
    %a{href:"/"}
      Home
  %button
    %a{href:"/admin_connect"}
      Create
  %button
    %a{href:"/admin_connect"}
      Update
        %button
    %a{href:"/admin_connect"}
      Delete