%h1
  Blogitivity

%h2
  = @results['title']

.content
  %p
    = @results['content']
  %ul.info
    %li
      = @results['author']
    %li
      = @results['creation_date']

.icons
  %a{href:"/"}
    %i.icon-search.icon-home
  %a{href:"/admin_connect"}
    %i.icon-search.icon-pencil
  %a{href:"/admin_connect"}
    %i.icon-search.icon-remove

