%h1
  Blogitivity

%h2
  = @results['title']

%div
  %ul
    %li
      = @results['content']
    %li
      = @results['author']
    %li
      = @results['creation_date']

%div
  %button
    %a{href:"/"}
      Home
  %button
    %a{href:"/post/:id/edit"}
      Update
  %button
    %a{href:"/admin_connect"}
      Delete